@mixin cta($background-color, $background-color-hover) {
  background-color: $background-color;
  border: none;
  border-radius: $border-radius;
  color: $color-light;
  cursor: pointer;
  padding: 16px 32px;
  text-decoration: none;
  &:hover {
    background-color: $background-color-hover;
  }
}

@mixin link {
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.1s;
  &:hover {
    border-bottom: none;
  }
}

@mixin section-title {
  color: $color-dark;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
