// Fonts

$font-primary: "Inter", sans-serif;

// Colors

$color-primary: #1a7ef6;
$color-primary-hover: #4094f8;
$color-light: #f8f9fa;
$color-dark: #212529;
$color-dark-hover: #343a40;
$color-grey: #6c757d;

// Section max width

$section-max-width: 1200px;

// Border radius

$border-radius: 10px;
