@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.movie-link {
  color: $color-dark;
  text-decoration: none;
  .movie-details {
    margin: 0 10px 40px;
    width: 150px;
    .movie-img {
      border-radius: $border-radius;
    }
    .movie-name {
      line-height: 1.6;
      margin-top: 20px;
    }
  }
}
