@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.movie-link {
  color: $color-dark;
  max-width: 100%;
  text-decoration: none;
  transition: 0.4s;
  width: 200px;
  .movie-details {
    margin: 0 10px 40px;
    .movie-img {
      border-radius: $border-radius;
      max-width: 100%;
    }
    .movie-name {
      line-height: 1.6;
      margin-top: 20px;
    }
  }
  &:hover {
    transform: translateY(-10px);
  }
}

// Responsive

@media screen and (max-width: 480px) {
  .movie-link {
    width: 140px;
  }
}