@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.movies-section {
  display: flex;
  flex-direction: column;
  padding: 0 40px 80px;
  .movies-section-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    .category-name {
      @include section-title();
    }
    .category-link {
      @include link($color-primary, $color-primary);
    }
  }
  // .movies-container {
  //   display: flex;
  //   overflow: scroll;
  // }
}
