@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.navbar-header {
  align-items: center;
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $section-max-width;
    padding: 10px 40px;
    width: 100%;
    .homepage-link {
      align-items: center;
      color: $color-light;
      display: flex;
      text-decoration: none;
      z-index: 2;
      img {
        width: 60px;
      }
      .brand-title {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .nav-menu {
      display: flex;
      .nav-menu-item {
        list-style-type: none;
        margin: 0 20px;
        .nav-menu-link {
          color: $color-light;
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .search-button {
      @include cta($color-primary, $color-primary-hover);
    }
    .hamburger-menu {
      align-items: flex-end;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none;
      flex-direction: column;
      height: 20px;
      justify-content: space-around;
      z-index: 2;
      .line {
        background-color: $color-light;
        height: 2px;
        transition: 0.5s;
      }
      .line-one {
        width: 40px;
      }
      .line-two {
        width: 25px;
      }
    }
    .mobile-menu-container {
      background-color: $color-dark;
      display: flex;
      flex-direction: column;
      height: 0;
      justify-content: center;
      overflow: hidden;
      padding: 0 20px;
      position: fixed;
      right: 0;
      top: 0;
      transition: 0.5s ease-in-out;
      width: 100%;
      z-index: 1;
      .mobile-menu {
        display: flex;
        flex-direction: column;
        .mobile-menu-item {
          border-bottom: 1px solid $color-grey;
          list-style-type: none;
          // margin: 10px;
          padding: 20px 0;
          .mobile-menu-link {
            color: $color-light;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 790px) {
  .navbar-header {
    .navbar {
      .nav-menu,
      .search-button {
        display: none;
      }
      .hamburger-menu {
        display: flex;
      }
    }
  }
}
