@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    button {
        @include circleButton();
    }
}