@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.search-section {
  @include main-section();
  .search-section-content-container {
    max-width: $section-max-width;
    padding: 0 40px 80px;
    width: 100%;
    .search-form {
      align-items: flex-end;
      display: flex;
      .search-label {
        color: $color-dark;
        display: flex;
        font-size: 24px;
        font-weight: 600;
        flex-direction: column;
        margin-right: 10px;
        width: 60%;
        .search-input {
          border: 1px solid $color-grey;
          border-radius: $border-radius;
          color: $color-dark;
          font-size: 16px;
          margin-top: 10px;
          padding: 16px 32px;
        }
      }
      .search-button {
        @include cta($color-primary, $color-primary-hover);
      }
    }
    .search-results {
      max-width: $section-max-width;
      padding: 80px 0 0;
      width: 100%;
      .search-results-title {
        @include section-title();
        .searched-title {
          font-weight: 400;
        }
      }
      .movies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
