@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.movie-trailer-modal {
    align-items: center;
    background-color: $color-dark;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}